In [1]:
import sqlalchemy as db
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd

In [3]:
Username = 'root'
Pass = 'MITech1404'
Server = 'localhost'
engine = db.create_engine(f'mysql+pymysql://{Username}:{Pass}@{Server}:3306/data_base_withpairs', echo = True)

conn = engine.connect()
Base = declarative_base()

2023-09-10 16:34:01,739 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-10 16:34:01,740 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:01,743 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-10 16:34:01,744 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:01,746 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-10 16:34:01,747 INFO sqlalchemy.engine.Engine [raw sql] {}

C:\Users\aghamohseni\AppData\Local\Temp\ipykernel_19208\1956597847.py:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
CoinTag = db.Table('CoinTag', Base.metadata,
                 db.Column('Name', db.String(255), db.ForeignKey('coins.name')),
                 db.Column('Tags', db.String(255), db.ForeignKey('tags.Tags')))

CoinExchange = db.Table('CoinExchange', Base.metadata,
                 db.Column('Name', db.String(255), db.ForeignKey('coins.name')),
                 db.Column('Exchange', db.String(255), db.ForeignKey('exchanges.name')))

ExchangePair = db.Table('ExchangePair', Base.metadata,
                 db.Column('Exchange', db.String(255), db.ForeignKey('exchanges.name')),
                db.Column('Pair', db.String(255), db.ForeignKey('pairs.name')))


class Coin(Base):
    __tablename__ = 'coins'

    rank = db.Column(db.Integer)
    name = db.Column(db.String(255), primary_key=True)
    symbol = db.Column(db.String(255))
    main_link = db.Column('MainLink',db.String(255))
    historical_link = db.Column('HistoricalLink',db.String(255))
    github_link = db.Column('Github_link',db.String(255))

    tags = db.orm.relationship('Tag', secondary=CoinTag, back_populates='coins')
    coinhistories = db.orm.relationship('CoinHistory', back_populates='coins')
    exchange = db.orm.relationship('Exchange', secondary=CoinExchange, back_populates='coins')

class Tag(Base):
    __tablename__ = 'tags'

    id = db.Column(db.Integer, autoincrement='auto')
    Tags = db.Column(db.String(255),primary_key=True)

    tags = db.orm.relationship('Coin', secondary=CoinTag, back_populates='tags')

class CoinHistory(Base):
    __tablename__ = "coinhistories"

    id = db.Column(db.Integer, primary_key=True, autoincrement='auto')
    name = db.Column(db.String(255), db.ForeignKey('coins.name'))
    Date = db.Column(db.Date)
    open = db.Column(db.Float)
    timeHigh = db.Column(db.Time)
    high = db.Column(db.Float)
    timeLow = db.Column(db.Time)
    low = db.Column(db.Float)
    close = db.Column(db.Float)
    volume = db.Column(db.Float, nullable=False)
    marketCap = db.Column(db.Float, nullable=False)
    DailyPrice = db.Column(db.Float)
    CirculatingSupply = db.Column(db.Float)
    DailyChange = db.Column(db.Float)
    ChangeStatus = db.Column(db.String(255))

    coin = db.orm.relationship('Coin', back_populates='coinhistories')

class Exchange(Base):
    __tablename__ = "exchanges"

    id = db.Column(db.Integer, autoincrement=True)
    name = db.Column(db.String(255), primary_key=True)

    exchange = db.orm.relationship('Coin', secondary=CoinExchange, back_populates='exchanges')
    pair = db.orm.relationship('Pair', secondary=ExchangePair, back_populates='exchanges')


class Pair(Base):
    __tablename__ = "pairs"

    id = db.Column(db.Integer, autoincrement=True)
    name = db.Column(db.String(255), primary_key=True)

    pair = db.orm.relationship('Exchange', secondary=ExchangePair, back_populates='pairs')
    
## needs completion

In [5]:
Base.metadata.create_all(engine)

2023-09-10 16:34:07,539 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:34:07,540 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`CoinTag`
2023-09-10 16:34:07,540 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:07,543 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`CoinExchange`
2023-09-10 16:34:07,544 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:07,546 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`ExchangePair`
2023-09-10 16:34:07,547 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:07,549 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`coins`
2023-09-10 16:34:07,549 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:07,551 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`tags`
2023-09-10 16:34:07,552 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:07,555 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`coinhistories`
2023-09-10 16:34:07,558 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:07,560 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`exchanges`
2023-09-10 16:34:07,561 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:07,564 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`pairs`
2023-09-10 16:34:07,565 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:34:07,568 INFO sqlalchemy.engine.Engine
CREATE TABLE coins (
	`rank` INTEGER,
	name VARCHAR(255) NOT NULL,
	symbol VARCHAR(255),
	`MainLink` VARCHAR(255),
	`HistoricalLink` VARCHAR(255),
	`Github_link` VARCHAR(255),
	PRIMARY KEY (name)
)


2023-09-10 16:34:07,569 INFO sqlalchemy.engine.Engine [no key 0.00093s] {}
2023-09-10 16:34:07,595 INFO sqlalchemy.engine.Engine
CREATE TABLE tags (
	id INTEGER,
	`Tags` VARCHAR(255) NOT NULL,
	PRIMARY KEY (`Tags`)
)


2023-09-10 16:34:07,596 INFO sqlalchemy.engine.Engine [no key 0.00104s] {}
2023-09-10 16:34:07,621 INFO sqlalchemy.engine.Engine
CREATE TABLE exchanges (
	id INTEGER,
	name VARCHAR(255) NOT NULL,
	PRIMARY KEY (name)
)


2023-09-10 16:34:07,622 INFO sqlalchemy.engine.Engine [no key 0.00094s] {}
2023-09-10 16:34:07,645 INFO sqlalchemy.engine.Engine
CREATE TABLE pairs (
	id INTEGER,
	name VARCHAR(255) NOT NULL,
	PRIMARY KEY (name)
)


2023-09-10 16:34:07,646 INFO sqlalchemy.engine.Engine [no key 0.00115s] {}
2023-09-10 16:34:07,673 INFO sqlalchemy.engine.Engine
CREATE TABLE `CoinTag` (
	`Name` VARCHAR(255),
	`Tags` VARCHAR(255),
	FOREIGN KEY(`Name`) REFERENCES coins (name),
	FOREIGN KEY(`Tags`) REFERENCES tags (`Tags`)
)


2023-09-10 16:34:07,674 INFO sqlalchemy.engine.Engine [no key 0.00104s] {}
2023-09-10 16:34:07,718 INFO sqlalchemy.engine.Engine
CREATE TABLE `CoinExchange` (
	`Name` VARCHAR(255),
	`Exchange` VARCHAR(255),
	FOREIGN KEY(`Name`) REFERENCES coins (name),
	FOREIGN KEY(`Exchange`) REFERENCES exchanges (name)
)


2023-09-10 16:34:07,719 INFO sqlalchemy.engine.Engine [no key 0.00112s] {}
2023-09-10 16:34:07,758 INFO sqlalchemy.engine.Engine
CREATE TABLE `ExchangePair` (
	`Exchange` VARCHAR(255),
	`Pair` VARCHAR(255),
	FOREIGN KEY(`Exchange`) REFERENCES exchanges (name),
	FOREIGN KEY(`Pair`) REFERENCES pairs (name)
)


2023-09-10 16:34:07,759 INFO sqlalchemy.engine.Engine [no key 0.00128s] {}
2023-09-10 16:34:07,804 INFO sqlalchemy.engine.Engine
CREATE TABLE coinhistories (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(255),
	`Date` DATE,
	open FLOAT,
	`timeHigh` TIME,
	high FLOAT,
	`timeLow` TIME,
	low FLOAT,
	close FLOAT,
	volume FLOAT NOT NULL,
	`marketCap` FLOAT NOT NULL,
	`DailyPrice` FLOAT,
	`CirculatingSupply` FLOAT,
	`DailyChange` FLOAT,
	`ChangeStatus` VARCHAR(255),
	PRIMARY KEY (id),
	FOREIGN KEY(name) REFERENCES coins (name)
)


2023-09-10 16:34:07,805 INFO sqlalchemy.engine.Engine [no key 0.00079s] {}
2023-09-10 16:34:07,837 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
CoinData = pd.read_csv(r'D:\Sharif University of Tech\Data Sience Boot Camp\Project\First Phase\Crypto\Crypto-Web-Scraping\Web_Scraping\Part_1_data\NewCoinMarketCapNormalised.csv')
CoinData

,Rank,Name,Symbol,MainLink,HistoricalLink,Github_link
0,1,Bitcoin,BTC,https://coinmarketcap.com/currencies/bitcoin/,https://coinmarketcap.com/currencies/bitcoin/h...,https://github.com/bitcoin/bitcoin
1,2,Ethereum,ETH,https://coinmarketcap.com/currencies/ethereum/,https://coinmarketcap.com/currencies/ethereum/...,https://github.com/ethereum/wiki/wiki/White-Paper
2,3,Tether USDt,USDT,https://coinmarketcap.com/currencies/tether/,https://coinmarketcap.com/currencies/tether/hi...,NaN
3,4,BNB,BNB,https://coinmarketcap.com/currencies/bnb/,https://coinmarketcap.com/currencies/bnb/histo...,https://github.com/bnb-chain
4,5,XRP,XRP,https://coinmarketcap.com/currencies/xrp/,https://coinmarketcap.com/currencies/xrp/histo...,https://github.com/ripple/rippled
...,...,...,...,...,...,...
195,196,PlayDapp,PLA,https://coinmarketcap.com/currencies/playdapp/,https://coinmarketcap.com/currencies/playdapp/...,https://github.com/playdapp
196,197,Pundi X (New),PUNDIX,https://coinmarketcap.com/currencies/pundix-new/,https://coinmarketcap.com/currencies/pundix-ne...,NaN
197,198,Vulcan Forged PYR,PYR,https://coinmarketcap.com/currencies/vulcan-fo...,https://coinmarketcap.com/currencies/vulcan-fo...,NaN
198,199,Status,SNT,https://coinmarketcap.com/currencies/status/,https://coinmarketcap.com/currencies/status/hi...,https://github.com/status-im
199,200,Amp,AMP,https://coinmarketcap.com/currencies/amp/,https://coinmarketcap.com/currencies/amp/histo...,https://github.com/amptoken

In [7]:
History = pd.read_csv(r'D:\Sharif University of Tech\Data Sience Boot Camp\Project\First Phase\Crypto\Crypto-Web-Scraping\Web_Scraping\Part_2_data\HistoricalDataProcessed (4).csv')
History.head(2)

,Name,timeOpen,timeClose,timeHigh,timeLow,open,high,low,close,volume,marketCap,DailyPrice,CirculatingSupply,Date,DailyChange,ChangeStatus
0,Synthetix,2023-08-31T00:00:00.000Z,"""2023-08-31T23:59:59.999Z""","""2023-08-31T12:57:00.000Z""","""2023-08-31T22:14:00.000Z""",1.995606,2.024014,1.923429,1.928386,43897748.10,5.196819e+08,1.928386,2.694905e+08,2023-08-31,-0.067185,Red
1,Synthetix,2023-08-30T00:00:00.000Z,"""2023-08-30T23:59:59.999Z""","""2023-08-30T00:55:00.000Z""","""2023-08-30T23:59:00.000Z""",2.060952,2.084899,1.995572,1.995572,31366413.98,5.372710e+08,1.995572,2.692316e+08,2023-08-30,-0.065396,Red

In [8]:
a = History.groupby(['Name']).last()
a[a['Date']!='2022-09-02']

,timeOpen,timeClose,timeHigh,timeLow,open,high,low,close,volume,marketCap,DailyPrice,CirculatingSupply,Date,DailyChange,ChangeStatus
Name,,,,,,,,,,,,,,,
Aptos,2022-10-19T00:00:00.000Z,"""2022-10-19T23:59:59.999Z""","""2022-10-19T02:01:00.000Z""","""2022-10-19T03:50:00.000Z""",8.384907e+00,8.552428e+00,6.687963e+00,7.240589e+00,1.893697e+09,9.412766e+08,7.240589e+00,1.300000e+08,2022-10-19,7.190102,Green
Arbitrum,2023-03-23T00:00:00.000Z,"""2023-03-23T23:59:59.999Z""","""2023-03-23T13:05:00.000Z""","""2023-03-23T14:29:00.000Z""",1.179699e+01,1.179699e+01,1.104477e+00,1.331082e+00,2.314949e+09,1.697129e+09,1.331082e+00,1.275000e+09,2023-03-23,-98.112151,Red
Axelar,2022-09-27T00:00:00.000Z,"""2022-09-27T23:59:59.999Z""","""2022-09-27T22:19:00.000Z""","""2022-09-27T16:29:00.000Z""",8.165434e-01,1.135992e+00,5.044822e-01,8.580614e-01,1.730782e+07,0.000000e+00,8.580614e-01,0.000000e+00,2022-09-27,0.266590,Green
Binance USD,2022-09-01T00:00:00.000Z,"""2022-09-01T23:59:59.999Z""","""2022-09-01T05:57:00.000Z""","""2022-09-01T15:57:00.000Z""",1.000276e+00,1.000919e+00,9.992963e-01,1.000440e+00,7.713154e+09,1.942708e+10,1.000440e+00,1.941855e+10,2022-09-01,-41.052872,Red
Blur,2023-02-14T00:00:00.000Z,"""2023-02-14T23:59:59.999Z""","""2023-02-14T18:35:00.000Z""","""2023-02-14T18:31:00.000Z""",5.003094e+00,5.192459e+00,4.318308e-01,6.530737e-01,4.552234e+08,2.351065e+08,6.530737e-01,3.600000e+08,2023-02-14,0.423216,Green
Core,2023-02-08T00:00:00.000Z,"""2023-02-08T23:59:59.999Z""","""2023-02-08T12:53:00.000Z""","""2023-02-08T14:40:00.000Z""",4.786658e+00,6.468240e+00,3.855408e+00,4.249438e+00,4.556696e+08,0.000000e+00,4.249438e+00,0.000000e+00,2023-02-08,4.051047,Green
Flare,2023-01-10T00:00:00.000Z,"""2023-01-10T23:59:59.999Z""","""2023-01-10T03:50:00.000Z""","""2023-01-10T04:24:00.000Z""",7.970000e-02,7.970000e-02,2.270000e-02,4.125468e-02,7.308209e+07,0.000000e+00,4.125468e-02,0.000000e+00,2023-01-10,-0.953841,Red
Mantle,2023-07-17T00:00:00.000Z,"""2023-07-17T23:59:59.999Z""","""2023-07-17T23:34:00.000Z""","""2023-07-17T14:12:00.000Z""",4.811910e-01,5.096796e-01,4.674757e-01,5.095311e-01,1.738122e+07,0.000000e+00,5.095311e-01,0.000000e+00,2023-07-17,-2.704167,Red
Pepe,2023-04-17T00:00:00.000Z,"""2023-04-17T23:59:59.999Z""","""2023-04-17T23:06:00.000Z""","""2023-04-17T16:40:00.000Z""",5.685057e-08,7.956576e-08,2.763783e-08,6.637550e-08,4.638521e+07,0.000000e+00,6.637550e-08,0.000000e+00,2023-04-17,-0.831552,Red
Sei,2023-08-15T00:00:00.000Z,"""2023-08-15T23:59:59.999Z""","""2023-08-15T12:10:00.000Z""","""2023-08-15T12:00:00.000Z""",7.989041e-03,2.086169e-01,7.989041e-03,1.776377e-01,2.475806e+08,3.197479e+08,1.776377e-01,1.800000e+09,2023-08-15,-0.067156,Red
Sui,2023-05-03T00:00:00.000Z,"""2023-05-03T23:59:59.999Z""","""2023-05-03T11:52:00.000Z""","""2023-05-03T13:19:00.000Z""",1.717594e+00,1.717594e+00,1.232650e+00,1.403141e+00,1.468656e+09,7.412422e+08,1.403141e+00,5.282737e+08,2023-05-03,1.368099,Green
UniBot,2023-06-16T00:00:00.000Z,"""2023-06-16T23:59:59.999Z""","""2023-06-16T20:31:00.000Z""","""2023-06-16T06:51:00.000Z""",1.786680e+01,2.414322e+01,1.753582e+01,2.116243e+01,9.635202e+05,0.000000e+00,2.116243e+01,0.000000e+00,2023-06-16,20.703254,Green
Worldcoin,2023-07-24T00:00:00.000Z,"""2023-07-24T23:59:59.999Z""","""2023-07-24T09:24:00.000Z""","""2023-07-24T07:24:00.000Z""",1.664895e+00,3.584866e+00,1.664860e+00,2.191566e+00,5.390517e+08,2.331231e+08,2.191566e+00,1.063728e+08,2023-07-24,2.188822,Green

In [9]:
import numpy as np

History = History.drop(columns = ['timeClose','timeOpen'])
History['timeHigh'] = pd.to_datetime(History['timeHigh'].str[13:20]).dt.time
History['timeLow'] = pd.to_datetime(History['timeLow'].str[13:20]).dt.time

History.loc[History.Date == '2022-09-02', ['DailyChange','ChangeStatus']] = 0, 'Gray'

History['DailyChange'] = np.where( ( (History['Name'] == 'Aptos') & (History['Date'] == '2022-10-19')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Arbitrum') & (History['Date'] == '2023-03-23')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Axelar') & (History['Date'] == '2022-09-27')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Binance USD') & (History['Date'] == '2022-09-01')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Blur') & (History['Date'] == '2023-02-14')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Core') & (History['Date'] == '2023-02-08')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Flare') & (History['Date'] == '2023-01-10')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Mantle') & (History['Date'] == '2023-07-17')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Pepe') & (History['Date'] == '2023-04-17')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Sei') & (History['Date'] == '2023-08-15')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Sui') & (History['Date'] == '2023-05-03')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'UniBot') & (History['Date'] == '2023-06-16')  ) , 0, History['DailyChange'])
History['DailyChange'] = np.where( ( (History['Name'] == 'Worldcoin') & (History['Date'] == '2023-07-24')  ) , 0, History['DailyChange'])

History['ChangeStatus'] = np.where( ( History['DailyChange'] == 0 ) , 'Gray', History['ChangeStatus'])

History = History[['Name','Date','open','timeHigh','high','timeLow','low','close','volume','DailyPrice','marketCap','CirculatingSupply','DailyChange','ChangeStatus']]

History

,Name,Date,open,timeHigh,high,timeLow,low,close,volume,DailyPrice,marketCap,CirculatingSupply,DailyChange,ChangeStatus
0,Synthetix,2023-08-31,1.995606,02:57:00,2.024014,02:14:00,1.923429,1.928386,43897748.10,1.928386,5.196819e+08,2.694905e+08,-0.067185,Red
1,Synthetix,2023-08-30,2.060952,00:55:00,2.084899,03:59:00,1.995572,1.995572,31366413.98,1.995572,5.372710e+08,2.692316e+08,-0.065396,Red
2,Synthetix,2023-08-29,2.080947,04:46:00,2.137082,00:40:00,2.037481,2.060968,45715402.91,2.060968,5.548779e+08,2.692317e+08,-0.020060,Red
3,Synthetix,2023-08-28,2.107940,02:36:00,2.139597,01:46:00,2.079478,2.081028,23323525.55,2.081028,5.600492e+08,2.691214e+08,-0.026909,Red
4,Synthetix,2023-08-27,2.071464,06:44:00,2.148910,00:00:00,2.071464,2.107937,21101866.70,2.107937,5.672910e+08,2.691214e+08,0.036344,Green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70325,Render,2022-09-06,0.500139,02:28:00,0.507269,00:13:00,0.469257,0.469789,9924323.73,0.469789,1.192319e+08,2.537989e+08,-0.030430,Red
70326,Render,2022-09-05,0.516513,00:07:00,0.520092,00:49:00,0.484872,0.500218,10377458.01,0.500218,1.269549e+08,2.537989e+08,-0.016286,Red
70327,Render,2022-09-04,0.509291,03:07:00,0.518565,08:08:00,0.497843,0.516505,4796503.94,0.516505,1.310884e+08,2.537989e+08,0.007291,Green
70328,Render,2022-09-03,0.520313,00:50:00,0.521055,07:55:00,0.501718,0.509214,4426976.60,0.509214,1.292380e+08,2.537989e+08,-0.011092,Red
70329,Render,2022-09-02,0.523143,05:16:00,0.539434,09:40:00,0.509584,0.520306,9301721.24,0.520306,1.320531e+08,2.537989e+08,0.000000,Gray

In [10]:
Tags = pd.read_csv(r'D:\Sharif University of Tech\Data Sience Boot Camp\Project\First Phase\Crypto\Crypto-Web-Scraping\Web_Scraping\Part_2_data\Tags (1).csv')
Tags = Tags.fillna('Nothing')
Tags = Tags.reset_index()
Tags.rename(columns={'index':'id'}, inplace=True)
Tags

      id                        Tags
0      0                    Mineable
1      1                         PoW
2      2                     SHA-256
3      3                         PoS
4      4             Smart Contracts
..   ...                         ...
123  123  Alameda Research Portfolio
124  124         Everscale Ecosystem
125  125                     Nothing
126  126               Entertainment
127  127          SEC Security Token

[128 rows x 2 columns]

In [11]:
CoinTag = pd.read_csv(r'D:\Sharif University of Tech\Data Sience Boot Camp\Project\First Phase\Crypto\Crypto-Web-Scraping\Web_Scraping\Part_2_data\CoinTagPivot (1).csv')
CoinTag

         Name                    Tags
0     Bitcoin                Mineable
1     Bitcoin                     PoW
2     Bitcoin                 SHA-256
3    Ethereum                     PoS
4    Ethereum         Smart Contracts
..        ...                     ...
558    Status                   Media
559    Status        Content Creation
560    Status                 Privacy
561       Amp      SEC Security Token
562       Amp  Alleged SEC Securities

[563 rows x 2 columns]

In [12]:
df = pd.read_excel(r'D:\Sharif University of Tech\Data Sience Boot Camp\Project\First Phase\Crypto\Crypto-Web-Scraping\Web_Scraping\Part_2_data\market.xlsx')
df = df.dropna()
df = df.rename(columns={'#':'Rank'})
df['Name'] = df['Name'].str[:-8]
df = df[['Name', 'Rank', 'Exchange', 'Pair']]
df

          Name  Rank           Exchange       Pair
0      Bitcoin   1.0            Binance   BTC/USDT
1      Bitcoin   2.0  Coinbase Exchange    BTC/USD
2      Bitcoin   3.0            Binance   BTC/TUSD
3      Bitcoin   4.0            Binance  BTC/FDUSD
4      Bitcoin   5.0             KuCoin   BTC/USDT
..         ...   ...                ...        ...
215  Chainlink   6.0  Coinbase Exchange  LINK/USDT
216  Chainlink   7.0             Kraken   LINK/USD
217  Chainlink   8.0            Bithumb   LINK/KRW
218  Chainlink   9.0             Kraken   LINK/EUR
219  Chainlink  10.0            Binance   LINK/EUR

[220 rows x 4 columns]

In [13]:
exco = df[['Name', 'Exchange']]
exco

          Name           Exchange
0      Bitcoin            Binance
1      Bitcoin  Coinbase Exchange
2      Bitcoin            Binance
3      Bitcoin            Binance
4      Bitcoin             KuCoin
..         ...                ...
215  Chainlink  Coinbase Exchange
216  Chainlink             Kraken
217  Chainlink            Bithumb
218  Chainlink             Kraken
219  Chainlink            Binance

[220 rows x 2 columns]

In [14]:
expa = df[['Exchange', 'Pair']]
expa

              Exchange       Pair
0              Binance   BTC/USDT
1    Coinbase Exchange    BTC/USD
2              Binance   BTC/TUSD
3              Binance  BTC/FDUSD
4               KuCoin   BTC/USDT
..                 ...        ...
215  Coinbase Exchange  LINK/USDT
216             Kraken   LINK/USD
217            Bithumb   LINK/KRW
218             Kraken   LINK/EUR
219            Binance   LINK/EUR

[220 rows x 2 columns]

In [15]:
Exchanges = pd.DataFrame(exco['Exchange'].unique()).reset_index()
Exchanges['index'] += 1
Exchanges = Exchanges.rename(columns={'index':'ID', 0:'Name'})

Exchanges

    ID                   Name
0    1                Binance
1    2      Coinbase Exchange
2    3                 KuCoin
3    4                 Kraken
4    5               Bitstamp
5    6                Bithumb
6    7   Uniswap v3 (Polygon)
7    8             Uniswap v2
8    9               Bitfinex
9   10   PancakeSwap v2 (BSC)
10  11  Uniswap v3 (Ethereum)
11  12         PancakeSwap v3
12  13                  Huobi
13  14                    OKX
14  15                Gate.io
15  16          ProBit Global
16  17      AscendEX (BitMax)
17  18                Indodax

In [16]:
Pairs = pd.DataFrame(expa['Pair'].unique()).reset_index()
Pairs['index'] += 1
Pairs = Pairs.rename(columns={'index':'ID', 0:'Name'})

Pairs

      ID       Name
0      1   BTC/USDT
1      2    BTC/USD
2      3   BTC/TUSD
3      4  BTC/FDUSD
4      5    XBT/USD
..   ...        ...
146  147   LINK/USD
147  148   LINK/BTC
148  149  LINK/BUSD
149  150   LINK/KRW
150  151   LINK/EUR

[151 rows x 2 columns]

In [17]:
CoinData.to_sql(name = 'coins', con = engine, if_exists='append', index = False)
History.to_sql(name = 'coinhistories', con = engine, if_exists='append', index = False)
Tags.to_sql(name = 'tags', con = engine, if_exists='append', index = False)
CoinTag.to_sql(name = 'CoinTag', con = engine, if_exists='append', index = False)
Exchanges.to_sql(name = 'exchanges', con = engine, if_exists='append', index = False)
Pairs.to_sql(name = 'pairs', con = engine, if_exists='append', index = False)
exco.to_sql(name = 'CoinExchange', con = engine, if_exists='append', index = False)
expa.to_sql(name = 'ExchangePair', con = engine, if_exists='append', index = False)

2023-09-10 16:36:41,583 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:41,584 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`coins`
2023-09-10 16:36:41,585 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:41,589 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:41,592 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:41,597 INFO sqlalchemy.engine.Engine INSERT INTO coins (`Rank`, `Name`, `Symbol`, `MainLink`, `HistoricalLink`, `Github_link`) VALUES (%(Rank)s, %(Name)s, %(Symbol)s, %(MainLink)s, %(HistoricalLink)s, %(Github_link)s)
2023-09-10 16:36:41,599 INFO sqlalchemy.engine.Engine [generated in 0.00418s] [{'Rank': 1, 'Name': 'Bitcoin', 'Symbol': 'BTC', 'MainLink': 'https://coinmarketcap.com/currencies/bitcoin/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/bitcoin/historical-data/', 'Github_link': 'https://github.com/bitcoin/bitcoin'}, {'Rank': 2, 'Name': 'Ethereum', 'Symbol': 'ETH', 'MainLink': 'https://coinmarketcap.com/currencies/ethereum/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/ethereum/historical-data/', 'Github_link': 'https://github.com/ethereum/wiki/wiki/White-Paper'}, {'Rank': 3, 'Name': 'Tether USDt', 'Symbol': 'USDT', 'MainLink': 'https://coinmarketcap.com/currencies/tether/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/tether/historical-data/', 'Github_link': None}, {'Rank': 4, 'Name': 'BNB', 'Symbol': 'BNB', 'MainLink': 'https://coinmarketcap.com/currencies/bnb/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/bnb/historical-data/', 'Github_link': 'https://github.com/bnb-chain'}, {'Rank': 5, 'Name': 'XRP', 'Symbol': 'XRP', 'MainLink': 'https://coinmarketcap.com/currencies/xrp/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/xrp/historical-data/', 'Github_link': 'https://github.com/ripple/rippled'}, {'Rank': 6, 'Name': 'USD Coin', 'Symbol': 'USDC', 'MainLink': 'https://coinmarketcap.com/currencies/usd-coin/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/usd-coin/historical-data/', 'Github_link': 'https://github.com/centrehq/centre-tokens'}, {'Rank': 7, 'Name': 'Cardano', 'Symbol': 'ADA', 'MainLink': 'https://coinmarketcap.com/currencies/cardano/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/cardano/historical-data/', 'Github_link': None}, {'Rank': 8, 'Name': 'Dogecoin', 'Symbol': 'DOGE', 'MainLink': 'https://coinmarketcap.com/currencies/dogecoin/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/dogecoin/historical-data/', 'Github_link': 'https://github.com/dogecoin/dogecoin/blob/master/README.md'}  ... displaying 10 of 200 total bound parameter sets ...  {'Rank': 199, 'Name': 'Status', 'Symbol': 'SNT', 'MainLink': 'https://coinmarketcap.com/currencies/status/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/status/historical-data/', 'Github_link': 'https://github.com/status-im'}, {'Rank': 200, 'Name': 'Amp', 'Symbol': 'AMP', 'MainLink': 'https://coinmarketcap.com/currencies/amp/', 'HistoricalLink': 'https://coinmarketcap.com/currencies/amp/historical-data/', 'Github_link': 'https://github.com/amptoken'}]
2023-09-10 16:36:41,623 INFO sqlalchemy.engine.Engine COMMIT
2023-09-10 16:36:41,671 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:41,672 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`coinhistories`
2023-09-10 16:36:41,673 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:41,679 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:41,760 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:42,842 INFO sqlalchemy.engine.Engine INSERT INTO coinhistories (`Name`, `Date`, open, `timeHigh`, high, `timeLow`, low, close, volume, `DailyPrice`, `marketCap`, `CirculatingSupply`, `DailyChange`, `ChangeStatus`) VALUES (%(Name)s, %(Date)s, %(open)s, %(timeHigh)s, %(high)s, %(timeLow)s, %(low)s, %(close)s, %(volume)s, %(DailyPrice)s, %(marketCap)s, %(CirculatingSupply)s, %(DailyChange)s, %(ChangeStatus)s)
2023-09-10 16:36:42,843 INFO sqlalchemy.engine.Engine [generated in 0.88705s] [{'Name': 'Synthetix', 'Date': '2023-08-31', 'open': 1.9956059654, 'timeHigh': datetime.time(2, 57), 'high': 2.0240140387, 'timeLow': datetime.time(2, 14), 'low': 1.9234289702, 'close': 1.928386385, 'volume': 43897748.1, 'DailyPrice': 1.928386385, 'marketCap': 519681901.34, 'CirculatingSupply': 269490546.80242413, 'DailyChange': -0.0671854589, 'ChangeStatus': 'Red'}, {'Name': 'Synthetix', 'Date': '2023-08-30', 'open': 2.0609516351, 'timeHigh': datetime.time(0, 55), 'high': 2.0848994124, 'timeLow': datetime.time(3, 59), 'low': 1.9955718439, 'close': 1.9955718439, 'volume': 31366413.98, 'DailyPrice': 1.9955718439, 'marketCap': 537270951.54, 'CirculatingSupply': 269231575.491663, 'DailyChange': -0.0653964257999999, 'ChangeStatus': 'Red'}, {'Name': 'Synthetix', 'Date': '2023-08-29', 'open': 2.0809471586, 'timeHigh': datetime.time(4, 46), 'high': 2.1370824864, 'timeLow': datetime.time(0, 40), 'low': 2.0374812599, 'close': 2.0609682697, 'volume': 45715402.91, 'DailyPrice': 2.0609682697, 'marketCap': 554877897.44, 'CirculatingSupply': 269231654.6536496, 'DailyChange': -0.0200601589999998, 'ChangeStatus': 'Red'}, {'Name': 'Synthetix', 'Date': '2023-08-28', 'open': 2.1079400707, 'timeHigh': datetime.time(2, 36), 'high': 2.1395967854, 'timeLow': datetime.time(1, 46), 'low': 2.0794775168, 'close': 2.0810284287, 'volume': 23323525.55, 'DailyPrice': 2.0810284287, 'marketCap': 560049205.46, 'CirculatingSupply': 269121362.1766128, 'DailyChange': -0.0269089564000002, 'ChangeStatus': 'Red'}, {'Name': 'Synthetix', 'Date': '2023-08-27', 'open': 2.0714635355, 'timeHigh': datetime.time(6, 44), 'high': 2.1489104328, 'timeLow': datetime.time(0, 0), 'low': 2.0714635355, 'close': 2.1079373851, 'volume': 21101866.7, 'DailyPrice': 2.1079373851, 'marketCap': 567290980.46, 'CirculatingSupply': 269121362.17608184, 'DailyChange': 0.0363443893999999, 'ChangeStatus': 'Green'}, {'Name': 'Synthetix', 'Date': '2023-08-26', 'open': 2.0624219132, 'timeHigh': datetime.time(5, 6), 'high': 2.0828305954, 'timeLow': datetime.time(0, 55), 'low': 2.0521095393, 'close': 2.0715929957, 'volume': 14078802.77, 'DailyPrice': 2.0715929957, 'marketCap': 557509928.89, 'CirculatingSupply': 269121362.18225384, 'DailyChange': 0.0092352402000002, 'ChangeStatus': 'Green'}, {'Name': 'Synthetix', 'Date': '2023-08-25', 'open': 2.0744321392, 'timeHigh': datetime.time(0, 22), 'high': 2.0753221521, 'timeLow': datetime.time(7, 49), 'low': 2.0201735666, 'close': 2.0623577555, 'volume': 32694877.37, 'DailyPrice': 2.0623577555, 'marketCap': 555024528.46, 'CirculatingSupply': 269121362.1787164, 'DailyChange': -0.0120863470000003, 'ChangeStatus': 'Red'}, {'Name': 'Synthetix', 'Date': '2023-08-24', 'open': 2.1384073241, 'timeHigh': datetime.time(7, 25), 'high': 2.1478869184, 'timeLow': datetime.time(1, 0), 'low': 2.0468532971, 'close': 2.0744441025, 'volume': 26242380.14, 'DailyPrice': 2.0744441025, 'marketCap': 558276703.0, 'CirculatingSupply': 269121111.6882818, 'DailyChange': -0.0638328263999996, 'ChangeStatus': 'Red'}  ... displaying 10 of 70330 total bound parameter sets ...  {'Name': 'Render', 'Date': '2022-09-03', 'open': 0.5203127373, 'timeHigh': datetime.time(0, 50), 'high': 0.5210552923, 'timeLow': datetime.time(7, 55), 'low': 0.501718331, 'close': 0.5092142951, 'volume': 4426976.6, 'DailyPrice': 0.5092142951, 'marketCap': 129238007.45, 'CirculatingSupply': 253798859.7209749, 'DailyChange': -0.0110917431999999, 'ChangeStatus': 'Red'}, {'Name': 'Render', 'Date': '2022-09-02', 'open': 0.5231432319, 'timeHigh': datetime.time(5, 16), 'high': 0.5394339586, 'timeLow': datetime.time(9, 40), 'low': 0.5095841921, 'close': 0.5203060383, 'volume': 9301721.24, 'DailyPrice': 0.5203060383, 'marketCap': 132053079.23, 'CirculatingSupply': 253798859.72774425, 'DailyChange': 0.0, 'ChangeStatus': 'Gray'}]
2023-09-10 16:36:48,225 INFO sqlalchemy.engine.Engine COMMIT
2023-09-10 16:36:48,267 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,268 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`tags`
2023-09-10 16:36:48,268 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:48,274 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:48,277 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,280 INFO sqlalchemy.engine.Engine INSERT INTO tags (id, `Tags`) VALUES (%(id)s, %(Tags)s)
2023-09-10 16:36:48,281 INFO sqlalchemy.engine.Engine [generated in 0.00213s] [{'id': 0, 'Tags': 'Mineable'}, {'id': 1, 'Tags': 'PoW'}, {'id': 2, 'Tags': 'SHA-256'}, {'id': 3, 'Tags': 'PoS'}, {'id': 4, 'Tags': 'Smart Contracts'}, {'id': 5, 'Tags': 'Ethereum Ecosystem'}, {'id': 6, 'Tags': 'Payments'}, {'id': 7, 'Tags': 'Stablecoin'}  ... displaying 10 of 128 total bound parameter sets ...  {'id': 126, 'Tags': 'Entertainment'}, {'id': 127, 'Tags': 'SEC Security Token'}]
2023-09-10 16:36:48,287 INFO sqlalchemy.engine.Engine COMMIT
2023-09-10 16:36:48,295 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,296 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`CoinTag`
2023-09-10 16:36:48,297 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:48,301 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:48,304 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,311 INFO sqlalchemy.engine.Engine INSERT INTO `CoinTag` (`Name`, `Tags`) VALUES (%(Name)s, %(Tags)s)
2023-09-10 16:36:48,312 INFO sqlalchemy.engine.Engine [generated in 0.00371s] [{'Name': 'Bitcoin', 'Tags': 'Mineable'}, {'Name': 'Bitcoin', 'Tags': 'PoW'}, {'Name': 'Bitcoin', 'Tags': 'SHA-256'}, {'Name': 'Ethereum', 'Tags': 'PoS'}, {'Name': 'Ethereum', 'Tags': 'Smart Contracts'}, {'Name': 'Ethereum', 'Tags': 'Ethereum Ecosystem'}, {'Name': 'Tether USDt', 'Tags': 'Payments'}, {'Name': 'Tether USDt', 'Tags': 'Stablecoin'}  ... displaying 10 of 563 total bound parameter sets ...  {'Name': 'Amp', 'Tags': 'SEC Security Token'}, {'Name': 'Amp', 'Tags': 'Alleged SEC Securities'}]
2023-09-10 16:36:48,352 INFO sqlalchemy.engine.Engine COMMIT
2023-09-10 16:36:48,358 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,359 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `data_base_withpairs`
2023-09-10 16:36:48,360 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:48,365 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:48,399 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,400 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`exchanges`
2023-09-10 16:36:48,401 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:48,404 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:48,408 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,409 INFO sqlalchemy.engine.Engine INSERT INTO exchanges (`ID`, `Name`) VALUES (%(ID)s, %(Name)s)
2023-09-10 16:36:48,410 INFO sqlalchemy.engine.Engine [generated in 0.00119s] [{'ID': 1, 'Name': 'Binance'}, {'ID': 2, 'Name': 'Coinbase Exchange'}, {'ID': 3, 'Name': 'KuCoin'}, {'ID': 4, 'Name': 'Kraken'}, {'ID': 5, 'Name': 'Bitstamp'}, {'ID': 6, 'Name': 'Bithumb'}, {'ID': 7, 'Name': 'Uniswap v3 (Polygon)'}, {'ID': 8, 'Name': 'Uniswap v2'}  ... displaying 10 of 18 total bound parameter sets ...  {'ID': 17, 'Name': 'AscendEX (BitMax)'}, {'ID': 18, 'Name': 'Indodax'}]
2023-09-10 16:36:48,416 INFO sqlalchemy.engine.Engine COMMIT
2023-09-10 16:36:48,422 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,424 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`pairs`
2023-09-10 16:36:48,426 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:48,431 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:48,433 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,436 INFO sqlalchemy.engine.Engine INSERT INTO pairs (`ID`, `Name`) VALUES (%(ID)s, %(Name)s)
2023-09-10 16:36:48,437 INFO sqlalchemy.engine.Engine [generated in 0.00208s] [{'ID': 1, 'Name': 'BTC/USDT'}, {'ID': 2, 'Name': 'BTC/USD'}, {'ID': 3, 'Name': 'BTC/TUSD'}, {'ID': 4, 'Name': 'BTC/FDUSD'}, {'ID': 5, 'Name': 'XBT/USD'}, {'ID': 6, 'Name': 'BTC/BUSD'}, {'ID': 7, 'Name': 'ETH/BTC'}, {'ID': 8, 'Name': 'ETH/USDT'}  ... displaying 10 of 151 total bound parameter sets ...  {'ID': 150, 'Name': 'LINK/KRW'}, {'ID': 151, 'Name': 'LINK/EUR'}]
2023-09-10 16:36:48,446 INFO sqlalchemy.engine.Engine COMMIT
2023-09-10 16:36:48,454 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,455 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`CoinExchange`
2023-09-10 16:36:48,457 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:48,462 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:48,464 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,469 INFO sqlalchemy.engine.Engine INSERT INTO `CoinExchange` (`Name`, `Exchange`) VALUES (%(Name)s, %(Exchange)s)
2023-09-10 16:36:48,470 INFO sqlalchemy.engine.Engine [generated in 0.00253s] [{'Name': 'Bitcoin', 'Exchange': 'Binance'}, {'Name': 'Bitcoin', 'Exchange': 'Coinbase Exchange'}, {'Name': 'Bitcoin', 'Exchange': 'Binance'}, {'Name': 'Bitcoin', 'Exchange': 'Binance'}, {'Name': 'Bitcoin', 'Exchange': 'KuCoin'}, {'Name': 'Bitcoin', 'Exchange': 'Kraken'}, {'Name': 'Bitcoin', 'Exchange': 'Coinbase Exchange'}, {'Name': 'Bitcoin', 'Exchange': 'Binance'}  ... displaying 10 of 220 total bound parameter sets ...  {'Name': 'Chainlink', 'Exchange': 'Kraken'}, {'Name': 'Chainlink', 'Exchange': 'Binance'}]
2023-09-10 16:36:48,488 INFO sqlalchemy.engine.Engine COMMIT
2023-09-10 16:36:48,494 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,495 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `data_base_withpairs`
2023-09-10 16:36:48,496 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:48,502 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:48,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,508 INFO sqlalchemy.engine.Engine DESCRIBE `data_base_withpairs`.`ExchangePair`
2023-09-10 16:36:48,509 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:48,513 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-10 16:36:48,514 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,517 INFO sqlalchemy.engine.Engine INSERT INTO `ExchangePair` (`Exchange`, `Pair`) VALUES (%(Exchange)s, %(Pair)s)
2023-09-10 16:36:48,519 INFO sqlalchemy.engine.Engine [generated in 0.00321s] [{'Exchange': 'Binance', 'Pair': 'BTC/USDT'}, {'Exchange': 'Coinbase Exchange', 'Pair': 'BTC/USD'}, {'Exchange': 'Binance', 'Pair': 'BTC/TUSD'}, {'Exchange': 'Binance', 'Pair': 'BTC/FDUSD'}, {'Exchange': 'KuCoin', 'Pair': 'BTC/USDT'}, {'Exchange': 'Kraken', 'Pair': 'XBT/USD'}, {'Exchange': 'Coinbase Exchange', 'Pair': 'BTC/USDT'}, {'Exchange': 'Binance', 'Pair': 'BTC/BUSD'}  ... displaying 10 of 220 total bound parameter sets ...  {'Exchange': 'Kraken', 'Pair': 'LINK/EUR'}, {'Exchange': 'Binance', 'Pair': 'LINK/EUR'}]
2023-09-10 16:36:48,535 INFO sqlalchemy.engine.Engine COMMIT
2023-09-10 16:36:48,541 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-10 16:36:48,542 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `data_base_withpairs`
2023-09-10 16:36:48,543 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-10 16:36:48,547 INFO sqlalchemy.engine.Engine ROLLBACK

c:\Users\aghamohseni\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CoinTag' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
c:\Users\aghamohseni\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CoinExchange' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
c:\Users\aghamohseni\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ExchangePair' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

220